body {
font-family: "Bitter", serif;
font-size: 14px;
line-height: 1.42857143;
color: #fff;
background-color: #F1F1F1;
background-image: url("./sativa/sativa.png");
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}

.button_btn, .button_btn:hover {
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
    position: fixed;
    top: 15px;
    right: 30px;
}

.button_btn:hover {
    background-color: #247b9e;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.navbar, a, li{
    color : #fff !important;
    font: normal 14px 'Bitter', serif;
    background-color: #2A88AD !important;
}
 .navbar a:hover {
    background-color: #247b9e !important;
}

.hello {
    font-size: 26px;
    padding-top: 10px;
}

.form-style-10{
    width:550px;
    padding:20px;
    margin:20px auto;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.form-style-10 .inner-wrap{
    padding: 20px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 10px;
}
.form-style-10 h3{
    background: #2A88AD;
    padding: 15px 20px 10px 20px;
    margin: -20px -20px 20px -20px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 24px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}
.form-style-10 h3 > span{
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 10px;
}

.form-style-10 input[type="textarea"] {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 button[type="submit"]{
    background: #2A88AD;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 20px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}

.form-style-10 button[type="submit"]:hover{
    background: #247b9e;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

.tweet_header {
    color: #2A88AD;
    font-weight: bold;
}

.text {
    color: #333;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    padding: 10px 0 10px 20px;
}

.add, .add:hover {
    background: #ccc !important;
    padding: 5px 7px !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    color: #000 !important;
  
    border: 1px solid #bbb !important;
    font-size: 12px !important;
}

.add:hover {
    background: #aaa !important;

}

.middle {
    text-align: center;
}

textarea {
    resize: none;
}

.error {
    color: red;
}

.plain {
    background-color: white !important;
    color: #2A88AD !important;
    font-weight: bold;
}

.msg {
    margin-top: 30px;
    margin-bottom: 15px;
    float: right !important;
}

.right {
    text-align: right;
    color: #666;
}

.danger {
    background-color: #b30000 !important;
    border-color: #800000 !important;
}

.danger:hover {
    background-color: #800000 !important;
}

.btn {
    background-color: #2A88AD !important;
}

.badge {
    background-color: #6CA8BD !important;
}

.read {
    color: green !important;
}

.msg-header, .msg-link {
    background-color: transparent !important;
    color: #2A88AD;
    font-weight: bold;
}

.msg-link-read {
    background-color: transparent !important;
    color: #2A88AD;
    font-weight: normal;
}

.msg-link:hover {
    color: #2A88AD !important;
}

.msg-text {
    color: black;
}

.msg-text-read {
    color: red;
}